<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 
	{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
     
    </style>
</head>

<body>
	{% include 'blocks/_nav.html' %}
	<div class="container">
		{% block body %} 
		{% endblock %}
	</div>
	{% include 'blocks/_footer.html' %}

</body>
</html>