{% extends 'base.html' %}

{% block title %}
	koala
{% endblock %}




{% block body %}
welcome {{visitor}}
	<h1 >My todo list</h1>

	<div class="row justify-content-center">
<div class=" col-4 card">
	
	<form action="/newtask" method="post" class="d-flex flex-column p-3 ">
		<input type=text name=name placeholder=name  class="form-control" >
		 <div class="form-group">
		<label for=status-select>Choose a status</label>
		<select name=status id=status-select  class="form-control">
			{% for status in taskStatus%}
			<option value="{{status['name']}}">{{status['name']}}</option>
			{% endfor %}

		</select>
	</div>
	 <div class="form-group">
		<label for=priority-select>Choose a priority</label>
		<select name=priority id=priority-select  class="form-control">
			{% for priority in taskPriorities%}
			<option value="{{priority['level']}}">{{priority['level']}}</option>
			{% endfor %}
		</select>
	</div>
	 <div class="form-group">
		<label for=category-select>Choose a category</label>
		<select name=category id=category-select  class="form-control">
			{% for category in taskCategories%}
			<option value="{{category['name']}}">{{category['name']}}</option>
			{% endfor %}
		</select>
	</div>

    
   		<input type="submit" value="Valider" class=" text-white p-2 m-2" style="background-color: purple">
	</form>
</div>

	<div class="col-8">

	{% for task in data%}
		<div class="d-flex justify-content-between">
			<div><p>{{task['name']}} <span class=" m-1 badge badge-secondary">{{task['status']}}</span>  <span class=" m-1 badge badge-info">{{task['category']}}</span>  <span class=" m-1 badge badge-warning">{{task['priority']}}</span></p>
			</div>
			<div>
					<a href="{{ url_for('seetask', taskName=task['name'])}}"><button type="button" class="btn btn-primary  btn-sm">Info</button></a>
				<a href="{{ url_for('killtask', taskName=task['name'])}}"><button type="button" class="btn btn-danger  btn-sm">Remove</button></a>
			</div>
		</div>
	{% endfor%}
	</div>
</div>
{{data}}
{% endblock %}

