	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}




	<form action="/login" method="post" class="d-flex flex-column p-3 ">
		<input type=text name=username placeholder=name  class="form-control" >
		<input type=password name=password placeholder=password  class="form-control" >
	
    
   		<input type="submit" value="Valider" class=" text-white p-2 m-2" style="background-color: purple">
	</form>