{% extends 'base.html' %}

{% block title %}
	koala
{% endblock %}



{% block body %}
{{task}}
<h1 class="mb-4">{{ task['name']}}</h1>
<div class="row d-flex">
	<div class="col-4 card">
	<h3>Add a subtask   (actually an update on empty [] not all that great</h3>
	<form action="/addsubtask" method="post" class="d-flex flex-column p-3 ">
		<input type=text name=name placeholder=name  class="form-control" >
		<textarea type=text name=desc placeholder="Your description" class="form-control"></textarea>
		<input type=file name=picture>
		<input type=hidden name=parentTask value="{{task['name']}}">
	 

    
   		<input type="submit" value="Valider" class=" text-white p-2 m-2" style="background-color: purple">
	</form>
</div>
	<div class="col-8">
		{% for subtask in task['subtasks'] %}
			{% for task in subtask%}
				{% if task == "picture" %}
					<p>{{task}}: <img src="{{subtask[task]}}"></p>
				{%else%}
					<p>{{task}}: {{subtask[task]}}</p>
				{%endif%}
			{% endfor %}
		{% endfor %}
	</div>
	
</div>
{% endblock %}