<ul class="nav justify-content-end p-3 mb-5" style="color:purple; background-color:lightgreen">
  <h1>Get your a§§ going pal, plenty things to do today</h1>
  <li class="nav-item">
    <a href="{{ url_for('register')}}">register</a>
  </li>
  <li class="nav-item">
 <a href="{{ url_for('login')}}">login</a>  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>